@font-face {
  font-family: Gerhaus;
  src: url("../fonts/Gerhaus-Regular.ttf");
}

:root {
  --content-width: 1280px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  font-family: "Urbanist";
  line-height: 1.35;
  font-size: 18px;
  font-weight: 500;
  margin-top: 16px;
}

h1,
h2 {
  font-family: "Gerhaus";
  font-size: 80px;
}

a.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Urbanist";
  font-weight: 500;
  text-decoration: none;
  background-color: #003049;
  border-radius: 100px;
  color: black;
  position: fixed;
  right: 40px;
  bottom: 40px;
  padding: 10px;
  box-shadow: 0px 0px 8px rgb(184, 184, 184);
}

a.button img {
  width: 50px;
}

section.hero {
  display: flex;
  justify-content: center;
}

section.hero .container-root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.hero header .container {
  /* background-color: red; */
  width: 850px;
}

section.hero header h1 {
  text-align: center;
  margin: auto;
  margin-top: 20px;
}

section.hero header p {
  text-align: center;
}

section.hero img {
  height: 800px;
  margin-top: 80px;
}

section.skills {
  background-color: #003049;
  display: flex;
  justify-content: center;
  color: white;
}

section.skills .container {
  display: flex;
  width: var(--content-width);
  align-items: center;
  justify-content: space-between;
  height: 330px;
}

section.skills article.meta .container,
section.skills article.branding .container,
section.skills article.google .container {
  border-top: 2px solid #d9d9d9;
}

section.skills p {
  width: 560px;
  margin-top: 0px;
}

article.mobile,
article.it {
  display: flex;
  justify-content: center;
  margin-top: 128px;
}

article.mobile .container-root,
article.it .container-root {
  width: var(--content-width);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

article.mobile h2,
article.mobile p,
article.it h2,
article.it p {
  width: 590px;
}

article.mobile .img-container,
article.it .img-container {
  width: 590px;
  height: 472px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 10px;
}

article.mobile .img-container {
  background-image: url("../images/mobile.png");
}

article.it .img-container {
  background-image: url("../images/it.png");
}

footer {
  color: white;
  background-color: #003049;
  display: flex;
  justify-content: center;
  margin-top: 128px;
}

footer .container-root {
  height: 400px;
  width: 1280px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer p {
  width: 800px;
  text-align: center;
}

footer p:nth-child(3) {
  margin-top: 32px;
}

footer img {
  width: 80px;
}

footer .social {
  margin-top: 32px;
  display: flex;
  gap: 12px;
}

footer .social img {
  width: 25px;
  height: 25px;
  /* background-color: grey; */
}

@media screen and (max-width: 1500px) {
  :root {
    --content-width: 1240px;
  }
  article.mobile .img-container,
  article.it .img-container {
    width: 570px;
    height: 452px;
  }
}

@media screen and (max-width: 1400px) {
  :root {
    --content-width: 1200px;
  }
  article.mobile .img-container,
  article.it .img-container {
    width: 550px;
    height: 432px;
  }
}

@media screen and (max-width: 1300px) {
  h2 {
    font-size: 70px;
  }

  article.mobile h2,
  article.mobile p,
  article.it h2,
  article.it p {
    width: 500px;
  }

  :root {
    --content-width: 1150px;
  }
  article.mobile .img-container,
  article.it .img-container {
    width: 550px;
    height: 432px;
  }
}

@media screen and (max-width: 1200px) {
  h2 {
    font-size: 70px;
  }

  section.skills .container {
    display: flex;
    width: var(--content-width);
    align-items: center;
    justify-content: center;
    height: 330px;
    flex-direction: column;
  }

  section.skills p {
    text-align: center;
    margin-top: 16px;
  }

  article.mobile .container-root,
  article.it .container-root {
    width: var(--content-width);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 56px;
  }

  article.it .container-root {
    flex-direction: column-reverse;
  }

  article.mobile h2,
  article.mobile p,
  article.it h2,
  article.it p {
    width: var(--content-width);
  }

  :root {
    --content-width: 1050px;
  }

  article.mobile .img-container,
  article.it .img-container {
    width: 570px;
    height: 452px;
  }
}

@media screen and (max-width: 1100px) {
  h1 {
    font-size: 70px;
  }

  :root {
    --content-width: 950px;
  }
}

@media screen and (max-width: 1000px) {
  h1,
  h2 {
    font-size: 60px;
  }

  section.hero header .container {
    /* background-color: red; */
    width: 750px;
    /* background-color: red; */
  }

  :root {
    --content-width: 850px;
  }

  section.hero img {
    height: 700px;
  }

  footer p {
    width: var(--content-width);
  }
}

@media screen and (max-width: 900px) {
  section.hero header .container {
    /* background-color: red; */
    width: 650px;
    /* background-color: red; */
  }

  :root {
    --content-width: 700px;
  }

  section.hero img {
    height: 600px;
  }
}

@media screen and (max-width: 800px) {
  section.hero header .container {
    width: 550px;
  }

  :root {
    --content-width: 600px;
  }
}

@media screen and (max-width: 700px) {
  h2 {
    font-size: 50px;
  }
  section.hero header .container {
    width: 550px;
  }

  :root {
    --content-width: 500px;
  }

  section.skills p {
    width: var(--content-width);
  }

  article.mobile .img-container,
  article.it .img-container {
    width: var(--content-width);
    height: 422px;
  }
  section.hero img {
    height: 500px;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 50px;
  }
  section.hero header .container {
    width: var(--content-width);
  }

  section.skills .container {
    height: 400px;
  }

  :root {
    --content-width: 400px;
  }

  section.hero img {
    height: 400px;
    margin-top: 30px;
  }

  article.mobile .img-container,
  article.it .img-container {
    height: 402px;
  }

  footer .container-root {
    height: 400px;
  }
}

@media screen and (max-width: 500px) {
  p {
    font-size: 16px;
  }
  h2 {
    font-size: 40px;
  }
  section.hero header .container {
    width: var(--content-width);
  }

  section.skills .container {
    height: 320px;
  }

  :root {
    --content-width: 320px;
  }

  article.mobile .img-container,
  article.it .img-container {
    height: 302px;
  }

  section.hero img {
    height: 350px;
  }
}

@media screen and (max-width: 400px) {
  p {
    font-size: 16px;
  }
  h1 {
    font-size: 40px;
  }
  section.hero header .container {
    width: var(--content-width);
  }

  section.skills .container {
    height: 400px;
  }

  :root {
    --content-width: 260px;
  }

  section.hero img {
    height: 250px;
  }

  article.mobile .img-container,
  article.it .img-container {
    height: 282px;
  }
}
